* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

label {
  color: #666;
}

input {
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

button {
  border: none;
  background-color: #0a66c2;
  padding: 0.5rem;
  border-radius: 1rem;
  color: white;
}

.twitter-box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.tweet-btn {
  padding: 5px 15px;
  background-color: #1da1f2;
}

.tweet-btn:hover {
  opacity: 0.8;
}

.tweet-input {
  border: none;
}
