* {
  box-sizing: border-box;
}

.subButton {
  background-color: rgb(164, 20, 20);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.joinButton {
  background-color: white;
  border-color: rgb(87, 87, 240);
  border-style: solid;
  border-width: 1px;
  color: rgb(87, 87, 240);
  font-weight: 500;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.tweetButton {
  background-color: rgb(26, 106, 235);
  border-width: 1px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 18px;
  height: 36px;
  width: 74px;
  cursor: pointer;
}

.requestButton {
  background-color: black;
  color: white;
  font-size: smaller;
  border: none;
  height: 36px;
  width: 105px;
  margin-right: 5px;
}

.addtoButton {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
}
