* {
  box-sizing: border-box;
}

.subButton {
  background-color: rgb(164, 20, 20);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  transition: opacity 0.15s;
}

.subButton:hover {
  opacity: 0.8;
}

.subButton:active {
  opacity: 0.5;
}

.joinButton {
  background-color: white;
  border-color: rgb(87, 87, 240);
  border-style: solid;
  border-width: 1px;
  color: rgb(87, 87, 240);
  font-weight: 500;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
  transition: backround-color 0.15s, color 0.15s;
}

.joinButton:hover {
  background-color: rgb(87, 87, 240);
  color: white;
}

.joinButton:active {
  opacity: 0.7;
}

.tweetButton {
  background-color: rgb(26, 106, 235);
  border-width: 1px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 18px;
  height: 36px;
  width: 74px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.tweetButton:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.requestButton {
  background-color: black;
  color: white;
  font-size: smaller;
  border: none;
  height: 36px;
  width: 105px;
  margin-right: 5px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.requestButton:hover {
  opacity: 0.8;
}

.addtoButton {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin-right: 5px;
  cursor: pointer;
  transition: backround-color 0.15s;
}

.addtoButton:hover {
  background-color: rgb(228, 192, 8);
}
.signButton {
  background-color: rgb(46, 164, 79);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 85px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.signButton:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.getButton {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 100px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  transition: backround-color 0.15s;
}

.getButton:hover {
  background-color: rgb(94, 64, 138);
}

.downButton {
  color: rgb(108, 117, 125);
  font-weight: bold;
  background-color: white;
  border-color: rgb(108, 117, 125);
  border: solid;
  border-width: 1px;
  height: 36px;
  width: 100px;
  margin-right: 5px;
  cursor: pointer;
  transition: backround-color 0.15s, color 0.15s;
}

.downButton:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}

.applyButton {
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 200px;
  border-radius: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.saveButton {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  font-weight: bold;
  height: 36px;
  width: 85px;
  border-radius: 18px;
  margin-top: 15px;
  cursor: pointer;
}

a:visited {
  color: rgb(0, 113, 133);
}

.priceH1 {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.buyBtn {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin-right: 5px;
  cursor: pointer;
}
