* {
  box-sizing: border-box;
}

.subButton {
  background-color: rgb(164, 20, 20);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.joinButton {
  background-color: white;
  border-color: rgb(87, 87, 240);
  border-style: solid;
  border-width: 1px;
  color: rgb(87, 87, 240);
  font-weight: 500;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 5px;
}

.tweetButton {
  background-color: rgb(26, 106, 235);
  border-width: 1px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 18px;
  height: 36px;
  width: 74px;
  cursor: pointer;
}

.requestButton {
  background-color: black;
  color: white;
  font-size: smaller;
  border: none;
  height: 36px;
  width: 105px;
  margin-right: 5px;
  cursor: pointer;
}

.addtoButton {
  background-color: rgb(255, 216, 20);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.signButton {
  background-color: rgb(46, 164, 79);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 85px;
  border-radius: 5px;
  cursor: pointer;
}

.getButton {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 100px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}

.downButton {
  color: rgb(108, 117, 125);
  font-weight: bold;
  background-color: white;
  border-color: rgb(108, 117, 125);
  border: solid;
  border-width: 1px;
  height: 36px;
  width: 100px;
  margin-right: 5px;
  cursor: pointer;
}

.applyButton {
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  font-weight: bold;
  height: 36px;
  width: 200px;
  border-radius: 18px;
  margin-right: 5px;
  cursor: pointer;
}

.saveButton {
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: rgb(10, 102, 194);
  color: rgb(10, 102, 194);
  font-weight: bold;
  height: 36px;
  width: 85px;
  border-radius: 18px;
  margin-top: 15px;
  cursor: pointer;
}

a:visited {
  color: rgb(0, 113, 133);
}

.priceH1 {
  color: rgb(0, 118, 0);
  font-weight: bold;
}

.buyBtn {
  background-color: rgb(255, 164, 28);
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  margin-right: 5px;
  cursor: pointer;
}
